# [string] Domain the relay will be hosted on
domain: relay.example.com

# [string] Address the relay will listen on
listen: 0.0.0.0

# [integer] Port the relay will listen on
port: 8080

# [integer] Number of push workers to start (will get removed in a future update)
workers: 8

# [string] Database backend to use. Valid values: sqlite, postgres
database_type: sqlite

# [string] Path to the sqlite database file if the sqlite backend is in use
sqlite_path: relay.sqlite3

# settings for the postgresql backend
postgres:

  # [string] hostname or unix socket to connect to
  host: /var/run/postgresql

  # [integer] port of the server
  port: 5432

  # [string] username to use when logging into the server (default is the current system username)
  user: null

  # [string] password of the user
  pass: null

  # [string] name of the database to use
  name: activityrelay
