label, input {
	margin: 0 auto;
	display: block;
}

label, input:not([type="submit"]) {
	width: 50%;
}

input:not([type="submit"]) {
	margin-bottom: var(--spacing);
}

@media (max-width: 1026px) {
	label, input:not([type="submit"]) {
		width: 75%;
	}
}
