form input[type="submit"] {
	display: block;
	margin: 0 auto;
}

textarea {
	height: calc(5em);
}

table .items {
	display: grid;
	grid-template-columns: max-content auto;
	grid-gap: var(--spacing);
	margin-top: var(--spacing);
}

#software .name{
	width: 100%;
}

#software .date {
	width: max-content;
	text-align: right;
}

#add-software {
	display: grid;
	grid-template-columns: max-content auto;
	grid-gap: var(--spacing);
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}
