-macro new_checkbox(name, checked)
	-if checked
		%input(id="{{name}}" name="{{name}}" type="checkbox" checked)

	-else
		%input(id="{{name}}" name="{{name}}" type="checkbox")


-macro new_select(name, selected, items)
	%select(id="{{name}}" name="{{name}}")
		-for item in items
			-if item == selected
				%option(value="{{item}}" selected) -> =item.title()

			-else
				%option(value="{{item}}") -> =item.title()
