:root {
	--text: {{theme["text"]}};
	--background: {{theme["background"]}};
	--primary: {{theme["primary"]}};
	--primary-hover: {{theme["primary-hover"]}};
	--section-background: {{theme["section-background"]}};
	--table-background: {{theme["table-background"]}};
	--border: {{theme["border"]}};
	--message-text: {{theme["message-text"]}};
	--message-background: {{theme["message-background"]}};
	--message-border: {{theme["message-border"]}};
	--spacing: 10px;
}

body {
	color: var(--text);
	background-color: #222;
	margin: var(--spacing);
	font-family: sans serif;
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover {
	color: var(--primary-hover);
	text-decoration: underline;
}

p {
	line-height: 1em;
	margin: 0px;
}

p:not(:first-child) {
	margin-top: 1em;
}

p:not(:last-child) {
	margin-bottom: 1em;
}

table {
	border: 1px solid var(--primary);
	border-radius: 5px;
	border-spacing: 0px;
}

table tbody tr:nth-child(even) td {
	background-color: var(--section-background);
}

thead td:first-child {
	border-top-left-radius: 3px;
}

thead td:last-child {
	border-top-right-radius: 3px;
}

tbody tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

table td {
	padding: 5px;
}

table thead td {
	background-color: var(--primary);
	color: var(--table-background)
}

table tbody td {
	background-color: var(--table-background);
}

#container {
	width: 1024px;
	margin: 0px auto;
}

#header {
	text-align: center;
}

#header a {
	font-size: 3em;
}

#instances table {
	width: 100%;
}

#instances .instance {
	width: 100%;
}

#instances .date {
	width: max-content;
	text-align: right;
}

#instances thead td {
	text-align: center !important;
}

#footer {
	display: grid;
	grid-template-columns: auto auto;
}

#footer .version {
	text-align: right
}


.message {
	color: var(--message-text) !important;
	background-color: var(--message-background) !important;
	border: 1px solid var(--message-border) !important;
}

.section {
	background-color: var(--section-background);
	padding: var(--spacing);
	border: 1px solid var(--border);
	border-radius: 5px;
}

.section:not(:first-child) {
	margin-top: var(--spacing);
}

.section:not(:last-child) {
	margin-bottom: var(--spacing);
}


@media (max-width: 1026px) {
	body {
		margin: 0px;
	}

	#container {
		width: unset;
		margin: unset;
	}

	.section {
		border-width: 0px;
		border-radius: 0px;
	}
}
