-extends "base.haml"
-set page="Instances"
-block content
	%details.section
		%summary << Add Instance
		%form(target="/admin/instances", method="POST")
			#add-instance
				%label(for="domain") << Domain
				%input(type="domain", name="domain", placeholder="Domain")
				%label(for="actor") << Actor URL
				%input(type="url", name="actor", placeholder="Actor URL")
				%label(for="inbox") << Inbox URL
				%input(type="url", name="inbox", placeholder="Inbox URL")
				%label(for="software") << Software
				%input(name="software", placeholder="software")

			%input(type="submit" value="Add Instance")

	#instances.section
		%table
			%thead
				%tr
					%td.instance << Instance
					%td.software << Software
					%td.date << Joined
					%td.remove

			%tbody
				-for instance in instances
					%tr
						%td.instance
							%a(href="https://{{instance.domain}}/" target="_new") -> =instance.domain

						%td.software
							=instance.software or "n/a"

						%td.date
							=instance.created.strftime("%Y-%m-%d")

						%td.remove
							%a(href="/admin/instances/delete/{{instance.domain}}" title="Remove Instance") << &#10006;
