-extends "base.haml"
-set page="Domain Bans"
-block content
	%details.section
		%summary << Ban Domain
		%form(action="/admin/domain_bans" method="POST")
			#add-item
				%label(for="domain") << Domain
				%input(type="domain" id="domain" name="domain" placeholder="Domain")

				%label(for="reason") << Ban Reason
				%textarea(id="reason" name="reason") << {{""}}

				%label(for="note") << Admin Note
				%textarea(id="note" name="note") << {{""}}

			%input(type="submit" value="Ban Domain")

	.data-table.section
		%table
			%thead
				%tr
					%td.domain << Instance
					%td << Date
					%td.remove

			%tbody
				-for ban in bans
					%tr
						%td.domain
							%details
								%summary -> =ban.domain
								%form(action="/admin/domain_bans" method="POST")
									.grid-2col
										.reason << Reason
										%textarea.reason(id="reason" name="reason") << {{ban.reason or ""}}

										.note << Note
										%textarea.note(id="note" name="note") << {{ban.note or ""}}

									%input(type="hidden" name="domain" value="{{ban.domain}}")
									%input(type="submit" value="Update")

						%td.date
							=ban.created.strftime("%Y-%m-%d")

						%td.remove
							%a(href="/admin/domain_bans/delete/{{ban.domain}}" title="Unban domain") << &#10006;
